<div class="container-custom">
    <div class="banner-img">
        <div class="carousel-item active-banner">
            <img id="main_banner">
            <div class="process-step manage-height">
                <div class="hd-kitchen-type">
                    <h1>Modular Kitchens</h1>
                </div>

                <div class="container kitchn-type">
                    <div class="row">
                        <div class="col-md">
                            <div class="prn-box">
                                <div class="prn-img">
                                    <img src="../../../assets/home/kitchen-shape/straight.webp">
                                </div>
                                <div class="prn-text">
                                    <h5>Straght Modular Kitchen</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mg-top-resp">
                            <div class="prn-box">
                                <div class="prn-img">
                                    <img src="../../../assets/home/kitchen-shape/parallelkitchen.webp">
                                </div>
                                <div class="prn-text">
                                    <h5>Parallel Modular Kitchen</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mg-top-resp">
                            <div class="prn-box">
                                <div class="prn-img">
                                    <img src="../../../assets/home/kitchen-shape/Lshapekitchen.webp">
                                </div>
                                <div class="prn-text">
                                    <h5>L Shaped Modular Kitchen</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mg-top-resp">
                            <div class="prn-box">
                                <div class="prn-img">
                                    <img src="../../../assets/home/kitchen-shape/ushapedkitchen.webp">
                                </div>
                                <div class="prn-text">
                                    <h5>U Shaped Modular Kitchen</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mg-top-resp">
                            <div class="prn-box">
                                <div class="prn-img">
                                    <img src="../../../assets/home/kitchen-shape/islandkitchen.webp">
                                </div>
                                <div class="prn-text">
                                    <h5>Island Modular Kitchen</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="halloffame">
                <div class="hd-halloffame">
                    <h1>Kitchens Hall of Fame</h1>
                    <p>Looking for ideas for your kitchen? Here's a peek at some of the kitchens we created for our
                        happy customers.</p>
                    <div class="container">
                        <app-slider></app-slider>
                    </div>
                </div>
            </div>
            <div class="consultation">
                <app-get-consultation></app-get-consultation>
            </div>
            <div>
                <div class="chat-btn icon-h">
                    <div  (click)="showPopUp()">
                        <i style="margin-left: 3px;margin-right: 3px;" class="fa fa-angle-up icon-contact" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="chat-popup" id="myForm" [ngClass]="{'show-chat': showChat}">
                    <div class="icon-h" (click)="hidePopUp()">
                        <i style="margin-left: 17px;" class="fa fa-angle-down icon-contact" aria-hidden="true"></i>
                    </div>
                    <form  class="form-container">
                       
                        <div>
                            <i style="padding-left: 4px;" class="fa fa-whatsapp icon-contact" aria-hidden="true"></i>
                        </div>
                        <div class="margin-top-i-d">
                            <i class="fa fa-envelope-o icon-contact" aria-hidden="true"></i>
                        </div>
                        <div class="margin-top-i-d">
                            <i style="padding-left: 4px;" class="fa fa-volume-control-phone icon-contact" aria-hidden="true"></i>
                        </div>
                        <div class="margin-top-i-d">
                            <i class="fa fa-commenting-o icon-contact" aria-hidden="true"></i>
                        </div>
                      <!-- <button type="button" class="btn cancel" onclick="closeForm()">Close</button> -->
                    </form>
                  </div>
            </div>
            <div class="custom-footer">
                <app-footer></app-footer>
            </div>
        </div>

    </div>
   
</div>
