@import "../../../variable.scss";

.carousel-item {
  position: inherit;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

#main_banner {
  // content: url(../../../assets/home/banner/R/Banner1.jpg);
  content: url(../../../assets/home/banner/New/hori.jpg);
  width: 100%;
}

@media only screen and (min-width: 280px) and (max-width: 600px) {
  #main_banner {
    // content: url(../../../assets/home/banner/banner-mob.webp);
    content: url(../../../assets/home/banner/New/vertical.jpg);
    width: 100%;
    padding: 0.7rem;
  }
}


.active-banner {
  display: block;
}

.process-step {
  margin-top: 5.5rem;
}

.hd-kitchen-type {
  text-align: center;
}

.hd-kitchen-type h1 {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 30px;
  color: $black;
  display: inline-block;
  vertical-align: baseline;
  //text-transform: uppercase;
  margin: 0;
  font-family: 'Hammersmith One', sans-serif;
  letter-spacing: -.5px;
  margin-bottom: 3rem;
}

.prn-img {
  text-align: center;
}

.prn-text h5 {
  font-size: .9rem !important;
  line-height: 19px;
  text-align: center;
  padding-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .mg-top-resp {
    margin-top: 3.2rem;
  }
}
.halloffame{
margin-top: 5.5rem;
}
.hd-halloffame{
  text-align: center;
}
.hd-halloffame h1{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 30px;
  color: $black;
  display: inline-block;
  vertical-align: baseline;
  //text-transform: uppercase;
  margin: 0;
  font-family: 'Hammersmith One', sans-serif;
  letter-spacing: -.5px;
  margin-bottom: .5rem;
}
.hd-halloffame p{
  width: 40%;
    margin: 16px auto 40px auto;
    font-size: 0.9rem;
}
@media only screen and (max-width: 500px) {
  .hd-halloffame p{
    width: 65%;
      margin: 16px auto 40px auto;
  }
}

.consultation{
  margin-top: 5rem;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 7px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
}

/* Add styles to the form container */
.form-container {
  //max-width: 300px;
  padding: 10px;
  
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.icon-contact{
  font-size: 35px;
}
.margin-top-i-d{
margin-top: 1rem;
}

.icon-h{
  background-color: $vl-green;
}
.show-chat{
  display: block;
}

.chat-btn{
  display: none;
  position: fixed;
  bottom: 0;
  right: 7px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
  padding: 10px;
}

@media only screen and (min-width: 280px) and (max-width: 600px) {
  .chat-btn{
    display: block;
    position: fixed;
    bottom: 0;
    right: 7px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 10px;
  }
}
.col-black{
  color: black;
}