<div class="container-custom">
    <div class="banner-img">
        <div class="carousel-item active-banner">
            <img id="main_banner">
            <div class="process-step manage-height">
                <div class="hd-kitchen-type">
                    <h1>Modular Kitchens</h1>
                </div>

                <div class="container kitchn-type">
                    <div class="row">
                        <div class="col-md">
                            <div class="prn-box">
                                <div class="prn-img">
                                    <img src="../../../assets/home/kitchen-shape/straight.webp">
                                </div>
                                <div class="prn-text">
                                    <h5>Straght Modular Kitchen</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mg-top-resp">
                            <div class="prn-box">
                                <div class="prn-img">
                                    <img src="../../../assets/home/kitchen-shape/parallelkitchen.webp">
                                </div>
                                <div class="prn-text">
                                    <h5>Parallel Modular Kitchen</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mg-top-resp">
                            <div class="prn-box">
                                <div class="prn-img">
                                    <img src="../../../assets/home/kitchen-shape/Lshapekitchen.webp">
                                </div>
                                <div class="prn-text">
                                    <h5>L Shaped Modular Kitchen</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mg-top-resp">
                            <div class="prn-box">
                                <div class="prn-img">
                                    <img src="../../../assets/home/kitchen-shape/ushapedkitchen.webp">
                                </div>
                                <div class="prn-text">
                                    <h5>U Shaped Modular Kitchen</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mg-top-resp">
                            <div class="prn-box">
                                <div class="prn-img">
                                    <img src="../../../assets/home/kitchen-shape/islandkitchen.webp">
                                </div>
                                <div class="prn-text">
                                    <h5>Island Modular Kitchen</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="halloffame">
                <div class="hd-halloffame">
                    <h1>Kitchens Hall of Fame</h1>
                    <p>Looking for ideas for your kitchen? Here's a peek at some of the kitchens we created for our
                        happy customers.</p>
                    <div class="container">
                        <app-slider></app-slider>
                    </div>
                </div>
            </div>
            <div class="consultation">
                <app-get-consultation></app-get-consultation>
            </div>
            <div class="custom-footer">
                <app-footer></app-footer>
            </div>
        </div>

    </div>
   
</div>
