<div class="container">
    <div class="hd-furniture-type">
        <h1>The Perfect Furniture For You</h1>
    </div>
    <div class="container kitchn-type">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/lifeTimeWarranty.svg" width="250" height="300">
                    </div>
                    <div class="prn-text">
                        <h5>Life Time Warranty</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/35daysInstallation.svg" width="250" height="300">
                    </div>
                    <div class="prn-text">
                        <h5>35 Days Installation Policy</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/qualityAssurance.svg" width="250" height="300">
                    </div>
                    <div class="prn-text">
                        <h5>Quality Assurance</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/noHiddenCharges.svg" width="250" height="300">
                    </div>
                    <div class="prn-text">
                        <h5>No Hidden Charges</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/designWhichSuitsRequirements.svg" width="250" height="300">
                    </div>
                    <div class="prn-text">
                        <h5>Design which Suits Requirements</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/afterSalesServices.svg" width="250" height="300">
                    </div>
                    <div class="prn-text">
                        <h5>No Worries for After Sales</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>