<div class="container">
    <div class="hd-furniture-type">
        <h1>Why Aura?</h1>
        <p>Aura Kitchen & Living, we focus more on quality instead of quantity. Therefore we do not compromise on any
            single factor whether it is the basic structure, hardware or be it outer finish. To match this, we provide
            furniture in BWP 710 Ply. The BWP ply is 100% water proof and is termite proof and also heat resistant and
            has capacity to hold the hardware more steadily which means structures made of this has life span of more
            than 20+ years. At the time of purchase, it comes to mind what if Hardware will malfunction for any reason.
            We assure you, that, whatever the hardware we will provide it will come with warranty. Yes, lifetime
            warranty on Hardware. And after assuring best of quality, a bucket full of Shutters (front finish) gives
            cherry on the cake. Yes, we have a wide range of shutters to offer. Choose according to theme, look or
            Choice...!!!</p>
    </div>
    <div class="container kitchn-type">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/lifeTimeWarranty.svg" width="300" height="300">
                    </div>
                    <div class="prn-text">
                        <h5>Life Time Warranty</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/35daysInstallation.svg" width="300" height="300">
                    </div>
                    <div class="prn-text">
                        <h5>35 Days Installation Policy</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/qualityAssurance.svg" width="300" height="300">
                    </div>
                    <div class="prn-text">
                        <h5>Quality Assurance</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/noHiddenCharges.svg" width="300" height="300">
                    </div>
                    <div class="prn-text">
                        <h5>No Hidden Charges</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/designWhichSuitsRequirements.svg" width="300" height="300">
                            
                    </div>
                    <div class="prn-text">
                        <h5>Design which Suits Requirements</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="prn-box">
                    <div class="prn-img">
                        <img src="../../../assets/home/furnitureIcons/afterSalesServices.svg" width="300" height="300">
                    </div>
                    <div class="prn-text">
                        <h5>No Worries for After Sales</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>