@import "../../../variable.scss";

.hd-furniture-type {
  text-align: center;
  margin-top: 50px;
}

.hd-furniture-type h1 {
  font-size: 30px;
  color: $black;
  display: inline-block;
  vertical-align: baseline;
  //text-transform: uppercase;
  margin: 0;
  font-family: 'Hammersmith One', sans-serif;
  letter-spacing: -.5px;
}

.hd-furniture-type p {
  width: 80%;
  margin: 16px auto 0px auto;
  font-size: 0.9rem;
  text-align: center;
}

@media only screen and (min-width: 601px) {
  .hd-furniture-type p {
    width: 61%;
    margin: 16px auto 20px auto;
    font-size: 0.9rem;
    text-align: center;
  }
}
