<div class="container">
    <div class="hd-furniture-type">
        <h1>How it Works?</h1>
        <p>Initially, the drawing for the proposed area is made. After the drawing, hardware & finish finalisation, will
            provide quotations. After the finalizations, the order goes for production and meanwhile we coordinate on
            site with other interdependent parties for a better and faster installation process. Once the material
            arrives on site and site is ready, we take only 3-4 days to complete the installation.
        </p>
    </div>
</div>