  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
            <h6>Contact Us</h6>
            <ul class="footer-links">
              <li>(+91) 9644272003, 8770941326 </li> 
              <li>First Floor, Plot No-152, PU-4, A.B. Road</li>
              <li>Behind C-21 Mall, Scheme 54, Indore </li>
            </ul>  
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Send Enquiry</h6>
          <ul class="footer-links">
            <li><a href="https://wa.me/917773014824?text=Hi%20Team,%20I%20am%20looking%20for%20some%20information%20related%20to%20kitchen.%20Can%20you%20please%20help%20out.?">WhatsApp</a></li>
            <li><a href="mailto:no-one@snai1mai1.com?subject=Enquiry!!&body=Hi Team, %0D%0A%0D%0A We are looking for some information related to kitchen. Can you please help out? %0D%0A %0D%0A Please find the details below.%0D%0A %0D%0A Name: %0D%0A Contact: %0D%0A Location: %0D%0A%0D%0A  Thanks">Email</a></li>
            <!-- <li><a href="{{emailLink}}">Email</a></li> -->
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Services</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">Home</a></li>
            <li><a href="http://scanfcode.com/contact/">About Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; {{currentYear}} All Rights Reserved
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>