@import "../../../variable.scss";

.slider-btn{
    margin-top: 0.5rem;
    text-align: end;
}

.btn-pre{
border: none;
height: 32px;
background: $vl-green;
}
.btn-next{
margin-left: 0.2rem;border: none;
height: 32px;
background: $vl-green;
}